Entregable_2/Nifi+ELK.json
{"flowContents":{"identifier":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"Nifi+ELK","comments":"","position":{"x":338.0,"y":98.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4b6fb88b-2034-35df-b299-2d23134465e6","name":"InvokeHTTP","comments":"","position":{"x":-32.0,"y":40.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://data.cityofnewyork.us/resource/erm2-nwe9.json","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","name":"PutElasticsearchHttp","comments":"","position":{"x":936.0,"y":272.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":null,"put-es-type":"_doc","put-es-index":"newyork","proxy-configuration-service":null,"elasticsearch-http-url":"http://elasticsearch:9200","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":null,"put-es-index-op":"index","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"d3a75657-cd81-34d9-9481-d1de676d679b","name":"JoltTransformJSON","comments":"","position":{"x":120.0,"y":272.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"location\": {\n\t\t\t\"latitude\": \"=toDouble\",\n\t\t\t\"longitude\": \"=toDouble\"\n\t\t}\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": \"&\",\n\t\t\"location\": {\n\t\t\t\"latitude\": \"location.lat\",\n\t\t\t\"longitude\": \"location.lon\"\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"2c1006a9-ad68-38c9-a5a1-1e79a2ff083b","name":"SplitJson","comments":"","position":{"x":696.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"f13b6b41-4cf4-3beb-8b44-eced3481b6ad","name":"JoltTransformJSON","comments":"","position":{"x":848.0,"y":888.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"location\": {\n\t\t\t\"latitude\": \"=toDouble\",\n\t\t\t\"longitude\": \"=toDouble\"\n\t\t}\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": \"&\",\n\t\t\"location\": {\n\t\t\t\"latitude\": \"location.lat\",\n\t\t\t\"longitude\": \"location.lon\"\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","name":"SplitJson","comments":"","position":{"x":592.0,"y":40.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"4211cb4e-111e-3ff6-a0a0-0d3a38837a09","name":"InvokeHTTP","comments":"","position":{"x":-48.0,"y":616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://data.cityofchicago.org/resource/uxic-zsuj.json","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"555a9386-1831-37e6-a763-1b1463d67a89","name":"PutElasticsearchHttp","comments":"","position":{"x":56.0,"y":896.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":null,"put-es-type":"_doc","put-es-index":"chicago","proxy-configuration-service":null,"elasticsearch-http-url":"http://elasticsearch:9200","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":null,"put-es-index-op":"index","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"972574f0-98ca-3b5b-9ee5-f754b917d6b0","name":"","source":{"id":"4211cb4e-111e-3ff6-a0a0-0d3a38837a09","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"InvokeHTTP","comments":""},"destination":{"id":"2c1006a9-ad68-38c9-a5a1-1e79a2ff083b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"9ddb3a4b-44cd-3fc4-98b8-be17bafcecf6","name":"","source":{"id":"f13b6b41-4cf4-3beb-8b44-eced3481b6ad","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"destination":{"id":"555a9386-1831-37e6-a763-1b1463d67a89","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"6123a011-36d6-31ce-86ff-4bf7113a7e9f","name":"","source":{"id":"d3a75657-cd81-34d9-9481-d1de676d679b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"destination":{"id":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"1bbdc69a-a6d0-3eda-bc87-c5ba6396a6c0","name":"","source":{"id":"4b6fb88b-2034-35df-b299-2d23134465e6","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"InvokeHTTP","comments":""},"destination":{"id":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"103fa2ab-3e62-3c95-9b24-ab599802145b","name":"","source":{"id":"2c1006a9-ad68-38c9-a5a1-1e79a2ff083b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"destination":{"id":"f13b6b41-4cf4-3beb-8b44-eced3481b6ad","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"6fc235de-41b6-3bdb-b3f6-93a6129de22e","name":"","source":{"id":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"destination":{"id":"d3a75657-cd81-34d9-9481-d1de676d679b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"54d48033-d9de-33e1-a7f1-70ad9900fb3e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"71d91753-0862-3b17-bf2c-e4619231426a","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}