Entregable_2/Nifi+ELK_ny.json
{"flowContents":{"identifier":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"Nifi+ELK","comments":"","position":{"x":338.0,"y":98.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4b6fb88b-2034-35df-b299-2d23134465e6","name":"InvokeHTTP","comments":"","position":{"x":32.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://data.cityofnewyork.us/resource/erm2-nwe9.json","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","name":"PutElasticsearchHttp","comments":"","position":{"x":1328.0,"y":32.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":"KKXbD9WrQpC5pWmIWICFgA","put-es-type":"json","put-es-index":"crimes","proxy-configuration-service":null,"elasticsearch-http-url":"http://elasticsearch:9200","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":null,"put-es-index-op":"index","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"d3a75657-cd81-34d9-9481-d1de676d679b","name":"JoltTransformJSON","comments":"","position":{"x":1328.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[{\n\t\"operation\": \"modify-overwrite-beta\",\n\t\"spec\": {\n\t\t\"location\": {\n\t\t\t\"latitude\": \"=toDouble\",\n\t\t\t\"longitude\": \"=toDouble\"\n\t\t}\n\t}\n}, {\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": \"&\",\n\t\t\"location\": {\n\t\t\t\"latitude\": \"location.lat\",\n\t\t\t\"longitude\": \"location.lon\"\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"d22e5e52-0bd2-3f49-8e6a-db092b3be2a7","name":"UpdateAttribute","comments":"","position":{"x":2088.0,"y":264.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${nextInt()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","name":"SplitJson","comments":"","position":{"x":672.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"3a026935-ca00-38fe-a988-7c3e2d780537","name":"UpdateAttribute","comments":"","position":{"x":2088.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${nextInt()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"df9f04d5-5115-322c-9e3c-9464966500fa","name":"PutFile","comments":"","position":{"x":2840.0,"y":264.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/fail","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"940a05f4-758d-3917-8efc-ef6795c01369","name":"PutFile","comments":"","position":{"x":2832.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/ok","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2fe4c50c-558c-364b-9475-fe64a85fda57","name":"","source":{"id":"d22e5e52-0bd2-3f49-8e6a-db092b3be2a7","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"UpdateAttribute","comments":""},"destination":{"id":"df9f04d5-5115-322c-9e3c-9464966500fa","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"8d28f9ae-76db-3d30-8de7-d179121086cc","name":"","source":{"id":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutElasticsearchHttp","comments":""},"destination":{"id":"d22e5e52-0bd2-3f49-8e6a-db092b3be2a7","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"6123a011-36d6-31ce-86ff-4bf7113a7e9f","name":"","source":{"id":"d3a75657-cd81-34d9-9481-d1de676d679b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"destination":{"id":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"1bbdc69a-a6d0-3eda-bc87-c5ba6396a6c0","name":"","source":{"id":"4b6fb88b-2034-35df-b299-2d23134465e6","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"InvokeHTTP","comments":""},"destination":{"id":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"6fc235de-41b6-3bdb-b3f6-93a6129de22e","name":"","source":{"id":"407cc96a-1306-37f4-8ec4-3e8bf5575afe","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"SplitJson","comments":""},"destination":{"id":"d3a75657-cd81-34d9-9481-d1de676d679b","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"381efc0d-95a6-39c9-9307-6bf0040240cb","name":"","source":{"id":"9e615fc5-a3ff-3f0c-9762-b5a22da89918","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutElasticsearchHttp","comments":""},"destination":{"id":"3a026935-ca00-38fe-a988-7c3e2d780537","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"4c633dc2-0aa0-3511-8206-a1061db578f6","name":"","source":{"id":"3a026935-ca00-38fe-a988-7c3e2d780537","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"UpdateAttribute","comments":""},"destination":{"id":"940a05f4-758d-3917-8efc-ef6795c01369","type":"PROCESSOR","groupId":"9c18187a-188f-38c4-bb93-9b65097cbe34","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"54d48033-d9de-33e1-a7f1-70ad9900fb3e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"},{"identifier":"71d91753-0862-3b17-bf2c-e4619231426a","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c18187a-188f-38c4-bb93-9b65097cbe34"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}